.card{
    margin: 10px;
    width: 80%;

}
.card-header{
    text-align: right;
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Rubik';
    font-style: italic;
}
.card-body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.btn{
    width: 250px;
    height: 50px;
    margin: 5px;
}