.wrepper {
    display: grid;
    grid-template-columns: auto auto;
text-align: right;
}

.grid-item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
}

.item-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.item{
     /* display: flex; */
     flex-direction: row;
     align-items: flex-start;
     padding: 0px;
     gap: 8px;
     flex: none;
     order: 1;
     flex-grow: 0;
     width: 250px;
     margin-top: 0;
     border: 0.01px solid rgba(128, 128, 128, 0.411);
}